.dropdown_nav {
    z-index: 999;
    width: 10rem;
    position: absolute;
    top: 72px;
    padding-left: 0px;
    list-style: none;
    text-align: center;
    align-items: center;
}

.dropdown_nav li {
    background: #424242;
    cursor: pointer;
}

.dropdown_nav li a:hover {
    border-radius: 0;
    background: #2c2c2c;
    width: 80%;
    cursor: pointer;
}

.dropdown_nav.clicked {
    display: none;
}

.dd-item {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: left;
}