li {
  list-style-type: none;
}


.navbar {
  height: 10vh;
  background: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 7vh;
  width: 7vw;
  z-index: 99;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 20px;
  /* add some space between the nav items and search bar */
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: red;
}