.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #2C2C3C;
}

.register ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.register .header {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #0BA484;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    margin-top: -200px;
}

.register .register-form {
    width: 321px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #424242;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.register .register-form .formheader {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ECEFF1;
}

.register .register-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #ECEFF1;
    color: #2C2C3C;
    margin-left:-4px;

}

.register-button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #237563;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.register-button:hover {
    background-color: #37AA91;
}

.create-account-button {
    margin-top: 2rem;
    border: none;
    background-color: transparent;
    color: #ECEFF1;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-decoration: none !important;
    display: block;
    margin: 0 auto;
    margin-top:20px;
    text-align: center;
}

.create-account-button:hover {
    color: #4bffd8;
}